<div class="content">

    <h1>Search Engine Optimized Bot-Friendly Angular 5</h1>

    <ol>
        <li>Yes, you read that right.</li>
        <li>Don't believe me? Navigate to one of the links below then paste the url into the <a href="https://cards-dev.twitter.com/validator">twitter card validator</a>.</li> 
        <li>Now learn how to make your own at <a href="https://angularfirebase.com/lessons/seo-angular-part-1-rendertron-meta-tags/">Angular Firebase</a>.</li> 
    </ol>

    <h3>Made possible by...</h3>
    <ul>
        <li>Rendertron (Headless Chrome)</li>
        <li>Firebase Cloud Functions</li>
    </ul>

    <p>Does NOT require Angular Universal</p>

    <hr>

    <a routerLink="/" class="button is-info">Home</a> 
    <a routerLink="/about-page" class="button is-info">About</a>
    <a routerLink="/contact-page" class="button is-info">Contact</a> 

    <a routerLink="/firebase-page" class="button is-warning">Firebase Demo</a>

    <hr>


    <router-outlet></router-outlet>

</div>
